.menu {
    height: 140px;
    display: flex;
    justify-content: space-between;
}

.logo-hack{
    height: 90px;
    width: 90px;
    padding: 30px;
    margin-left: 50px;
}

nav.links{
    height: 70px;
    width: 600px;
    margin-right: 50px;
}
.links a{
    float: right;
    justify-content: center;
    padding: 30px;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.links a:hover{
    text-decoration: underline;
    background-color: grey;
}