

nav.links-pag{
    width: 100%;
    height: 288px;
    background: #000000;
    justify-content: flex-start;
}
nav.links-pag.a{
    color: white;
    text-decoration: none;  
    float: left;
    justify-content: center;
    padding: 30px;
    font-size: 20px;
}
